@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #13ec13;
    /* Define semantic colors that can be used in the config if needed, 
       but we will mostly use standard tailwind colors with dark: modifier */

    --font-display: Lexend, sans-serif;
    --font-sans: Lexend, sans-serif;
}

/* Base styles for Light Mode */
:root {
    --background: #ffffff;
    --foreground: #0f172a;
}

/* Base styles for Dark Mode */
.dark {
    --background: #111811;
    /* Dark Greenish Black */
    --foreground: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s, color 0.3s;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    /* Gray-300 */
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-track {
    background: #111827;
}

.dark ::-webkit-scrollbar-thumb {
    background: #374151;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}