@import "tailwindcss";

@theme {
    --color-primary: #13ec13;
    --color-background-light: #f6f8f6;
    --color-background-dark: #111811;
    --color-surface-dark: #1a241a;
    --color-surface-hover: #232f23;
    --color-text-secondary: #9db99d;

    --font-display: Lexend, sans-serif;
    --font-sans: Lexend, sans-serif;
}

/* Custom scrollbar for dark mode */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111827;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}